@model IEnumerable<AnimalShelter.WebApp.Models.DoctorVM>

@{
    ViewData["Title"] = "Doctors";
}

<div class="container" style="display: flex">
    <h1 style="width: 50%">Doctors</h1>
    <p style="width: 50%" align="right">
        <button type="button" onclick="location.href='@Url.Action("Create", "Doctor")'" style="padding: 10px; background-color: slateblue; color: white; border: 0px; border-radius: 5px">Register new doctor</button>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Second Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
