@model IEnumerable<AnimalShelter.WebApp.Models.ShelterBoxVM>

@{
    ViewData["Title"] = "Shelter boxes";
}

<div class="container" style="display: flex">
    <h1 style="width: 50%">Shelter boxes</h1>
    <p style="width: 50%" align="right">
        <button type="button" onclick="location.href='@Url.Action("Create", "ShelterBox")'" style="padding: 10px; background-color: orangered; color: white; border: 0px; border-radius: 5px">Register new shelter box</button>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Animal's ID
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
